@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #f4f4f4;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: teal;
    text-decoration: none;
    font-weight: 700;
}
nav .cart-icon{
    position: relative;
    font-size: 20px;
    color: teal;
    display: flex;
    text-decoration: none;
}
nav .cart-item .cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    color: rgb(245, 241, 241);
    background: rgb(245, 115, 92);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    display: none;
}
.product-collection{
    padding: 100px 9% 50px;
}
.product-collection h1{
    font-size: 30px;
    color: #333;
    margin-bottom: 17px;
    font-weight: 600;
    text-align: center;
}
.product-collection .product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product-collection .img-box{
    display: flex;
    overflow: hidden;
    cursor: pointer;
}
.product-collection .img-box img{
    width: 100%;
    transition: transform 0.3s ease;
}
.product-collection .img-box:hover img{
  transform: scale(1.1);  
}
.product-collection .title{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.product-collection .price{
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
.product-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 130px 9% 30px;
}
.product-detail .product-img{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    height: 550px;
}
.product-detail .product-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-detail .thumbnail-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-detail .thumbnail-img img{
    height: calc(100% / 4 -9px);
    cursor: pointer;
}
.product-detail .title{
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
}
.product-detail .ratings i{
    color: red;
}
.product-detail .price{
    display: block;
    font-weight: 600;
    margin: 12px 0;
}
.product-detail :is(.size-selection, .color-selection){
    margin: 20px 0,
}
.product-detail :is(.size-selection p, .color-selection p){
    margin-bottom: 10px 0,
}
.product-detail :is(.size-options, .color-options){
    display: flex;
    gap: 10px;
}
.product-detail .size-options button{
    width: 45px;
    height: 45px;
    background-color: white;
    border: 7px solid transparent;
    cursor: pointer;
}
.product-detail .color-options img{
    width: 75px;
    height: 75px;
    border: 2px solid transparent;
    cursor: pointer;
}
.product-detail .btn-add-to-cart{
    background: black;
    color: wheat;
    padding: 10px 25px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

/* cart part  */
.cart{
    padding: 110px 9% 30px;
}
.cart-header{
    display: flex;
    padding: 10px 0;
    border-bottom: 2px solid white;
    font-weight: bold;
    text-align: center;
}
.cart-header span{
    display: flex;
    flex: 1;
    text-align: center;
}
.cart-header span:first-child{
    flex: 3;
    text-align: left;
}
.cart-item{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid teal;
}
.cart-item .product{
    display: flex;
    align-items: center;
    flex: 1.5;
}
.product img{
    width: 80px;
    margin-right: 15px;
}
.cart-item .size-color-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.size-color-box .size{
    padding: 6px 12px;
    background: white;
    font-size: 14px;
}
.cart-item :is(.price, .quantity, .total){
    flex: 1;
    text-align: center;
}
.cart-item .quantity input{
    width: 50px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
}
.cart-item .remove-btn{
    background-color: transparent;
    cursor: pointer;
    flex: 1;
    border: none;
}
.cart-item .remove-btn i{
    color: red;
    font-size: 20px;
}
.cart-total{
    width: 400px;
    margin: 50px 0 0 auto;
}
.cart-total h3{
    margin-bottom: 15px;
}
.cart-total p{
    display: flex;
    justify-content: space-between;
}
.cart-total p:not(:last-of-type){
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 8px;
}
.cart-total p:last-of-type{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}



.checkout-btn{
    background: teal;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 30px 0 0 auto;
}
